<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>heb-ios-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>064E9B571F733D05005DABAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064E9B6B1F733D06005DABAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064E9B761F733D06005DABAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
